In [1]:
lista_1 = ["arroz, frango, tomate, leite"]

In [2]:
type(lista_1)

list

In [3]:
lista_1
print(lista_1)

['arroz, frango, tomate, leite']

In [4]:
lista_2 = ["arroz","frango","tomate","leite"]

In [5]:
type(lista_2)

list

In [6]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [7]:
lista_3 = [23,100,"Cientista de Dados"]

In [8]:
type(lista_3)

list

In [9]:
lista_3

[23, 100, 'Cientista de Dados']

In [10]:
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [11]:
print(lista_3)

[23, 100, 'Cientista de Dados']

In [12]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [13]:
lista_2[2]

'tomate'

In [14]:
lista_2[2] = 'chocolate'

In [15]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [16]:
del lista_2[3]

In [17]:
lista_2

['arroz', 'frango', 'chocolate']

In [18]:
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [19]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [20]:
a = listas[0]

In [21]:
a

[1, 2, 3]

In [22]:
b = a[0]

In [23]:
b

1

In [24]:
list1 = listas[1]

In [25]:
list1

[10, 15, 14]

In [26]:
valor_1_0 = list1[0]

In [27]:
valor_1_0

10

In [28]:
valor_1_2 = list1[2]

In [29]:
valor_1_2

14

In [30]:
list2 = listas[2]

In [31]:
list2

[10.1, 8.7, 2.3]

In [32]:
valor_2_0 = list2[0]

In [33]:
valor_2_0

10.1

In [34]:
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [35]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [36]:
a = listas[0][0]

In [37]:
a

1

In [38]:
b = listas[1][2]

In [39]:
b

14

In [40]:
c = listas[0][2] + 10

In [41]:
c

13

In [42]:
d = 10

In [43]:
d

10

In [44]:
e = d * listas[2][0]

In [45]:
e

101.0

In [46]:
lista_s1 = [34,32,56]

In [47]:
lista_s1

[34, 32, 56]

In [48]:
lista_s2 = [21,90,51]

In [49]:
lista_s2

[21, 90, 51]

In [50]:
lista_total = lista_s1 + lista_s2

In [51]:
lista_total

[34, 32, 56, 21, 90, 51]

In [52]:
lista_teste_op = [100,2,-5,3.4]

In [53]:
10 in lista_teste_op

False

In [54]:
100 in lista_teste_op

True

In [55]:
lista_numeros = [10,20,50,-3.4]

In [56]:
len(lista_numeros)

4

In [57]:
max(lista_numeros)

50

In [58]:
min(lista_numeros)

-3.4

In [59]:
lista_formacoes_dsa = ["Analista de Dados","Cientista de Dados","Engenheiro de Dados"]

In [60]:
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [61]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [62]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [63]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [64]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [65]:
lista_formacoes_dsa.count("Engenheiro de IA")

2

In [66]:
a = []

In [67]:
a

[]

In [68]:
type(a)

list

In [69]:
a.append(10)

In [70]:
a

[10]

In [71]:
a.append(50)

In [72]:
a

[10, 50]

In [73]:
old_list = [1,2,5,10]

In [74]:
new_list = []

In [75]:
for item in old_list:
    new_list.append(item)

In [76]:
new_list

[1, 2, 5, 10]

In [77]:
cidades = ["Recife","Manaus","Salvador"]
cidades.extend(["Fortaleza","Palmas"])

In [78]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [79]:
cidades.index("Salvador")

2

In [80]:
cidades.index("Rio de Janeiro")

ValueError: 'Rio de Janeiro' is not in list

In [ ]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [ ]:
cidades.insert(2,110)

In [ ]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [ ]:
cidades.remove(110)

In [ ]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [ ]:
cidades.reverse()

In [ ]:
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [ ]:
x = [3,4,2,1]

In [ ]:
x.sort()

In [ ]:
x

[1, 2, 3, 4]

In [ ]:
estudantes_lst = ["Pedro",24,"Ana",22,"Ronaldo",26,"Janaina",25]

In [ ]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [ ]:
type(estudantes_lst)

list

In [ ]:
estudantes_dict = {"Pedro":24,"Ana":22,"Ronaldo":26,"Janaina":25}

In [ ]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [ ]:
estudantes_dict["Pedro"]

24

In [ ]:
type(estudantes_dict)

dict

In [ ]:
estudantes_dict["Marcelo"] = 23

In [ ]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [ ]:
estudantes_dict.clear()

In [ ]:
estudantes_dict

{}

In [ ]:
del estudantes_dict

In [ ]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [ ]:
estudantes = {"Pedro":24,"Ana":22,"Ronaldo":26,"Janaina":25}

In [ ]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [ ]:
len(estudantes)

4

In [ ]:
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [ ]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [ ]:
estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [ ]:
estudantes2 = {"Camila":27,"Adriana":28,"Roberta":26}

In [ ]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [ ]:
estudantes.update(estudantes2)

In [ ]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [ ]:
dic1 = {}

In [ ]:
dic1

{}

In [ ]:
dic1["chave_um"] = 2

In [ ]:
print(dic1)

{'chave_um': 2}

In [ ]:
dic1[10] = 5

In [ ]:
dic1

{'chave_um': 2, 10: 5}

In [ ]:
dic1[9.13] = "Python"

In [ ]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [ ]:
dic1["teste"] = 5

In [ ]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [ ]:
dict1 = {}

In [ ]:
dict1

{}

In [ ]:
dict1["teste"] = 10

In [ ]:
dict1["key"] = "teste"

In [ ]:
dict1

{'teste': 10, 'key': 'teste'}

In [ ]:
dict2={}

In [ ]:
dict2["key1"] = "Data Science"

In [ ]:
dict2["key2"] = 10

In [ ]:
dict2["key3"] = 100

In [ ]:
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [ ]:
a  = dict2["key1"]

In [ ]:
b = dict2["key2"]

In [ ]:
c = dict2["key3"]

In [ ]:
a,b,c

('Data Science', 10, 100)

In [ ]:
dict3 = {'chave1':1230,'chave2':[22,453,73.4],'chave3':['picanha','fraldinha','alcatra']}

In [ ]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [ ]:
dict3['chave2']

[22, 453, 73.4]

In [ ]:
dict3['chave3'][0].upper()

'PICANHA'

In [ ]:
var1 = dict3['chave2'][0] - 2

In [ ]:
var1

20

In [ ]:
dict3['chave2'][0] -=2

In [ ]:
dict3

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [ ]:
print("oi")

oi

In [82]:
faturamento = 1000
custo = 400

lucro = faturamento - custo

# com format
print("O faturamento foi de {} e o lucro foi de {}".format(faturamento,lucro))

# com f-string
print(f"O faturamento foi de {faturamento} e o lucro foi de {lucro}")

O faturamento foi de 1000 e o lucro foi de 600
O faturamento foi de 1000 e o lucro foi de 600

In [83]:
faturamento = float(input("Insira o faturamento"))
custo = float(input("Insira o custo"))

print(type(faturamento))
print(type(custo))

lucro = faturamento - custo

print(f"O lucro foi de {lucro} reais")

<class 'float'>
<class 'float'>
O lucro foi de 599.95 reais

In [94]:
meta = 50000
qtd_vendida = 30000

if qtd_vendida >= meta:
    print("Batemos a meta de vendas de Iphone, vendemos {} unidades". format(qtd_vendida))
print("Fim do programa")

Fim do programa

In [101]:
meta = 50000
qtde_vendida = 65300

if qtde_vendida >= meta:
    print("Batemos a meta de vendas; {} unidades".format(qtde_vendida))
else:
    print("A meta não foi batida. Vendemos {} unidades.".format(qtde_vendida))

Batemos a meta de vendas; 65300 unidades

if condicao:

elif condicao_2:

else:

#end

In [6]:
meta = 20000
vendas = 15000

if vendas < meta:
    print("Não ganhou bônus")
elif vendas > (meta * 2):
    bonus = 0.07 * vendas
    print("Ganhou {} de bônus".format(bonus))
else:
    bonus = 0.03 * vendas
    print("Ganhou {} de bônus".format(bonus))

Não ganhou bônus

In [8]:
faturamento_loja1 = 2500
faturamento_loja2 = 2200
email = "liragmail.com"

print("Programa 1")
if faturamento_loja1 == faturamento_loja2:
    print("Os faturamentos são iguais")
else:
    print("Os faturamentos são diferentes")

Programa 1
Os faturamentos são diferentes

In [9]:
print("Programa2")
if email != "lira@gmail.com":
    print("Esse não é o email do Lira")
else:
    print("Email errado")

Programa2
Esse não é o email do Lira

In [11]:
print("Programa 3")
email_usuario = input("Insira seu e-mail:")
if not "@" in email_usuario:
    print("Email Inválido")
else:
    pass

Programa 3
Email Inválido

In [22]:
meta_funcionario = 10000
meta_loja = 250000
vendas_funcionario = 15000 # trocar valores
vendas_loja = 280000 # trocar valores

if vendas_funcionario > meta_funcionario and vendas_loja > meta_loja:
    bonus = 0.03 * vendas_funcionario
    print("Bônus do funcionário foi de {}".format(bonus))
else:
    print("Funcionário não ganhou bônus")

Bônus do funcionário foi de 450.0

In [23]:
nota_funcionario = 5
meta_nota = 9

if nota_funcionario >= meta_nota or (vendas_funcionario > meta_funcionario and vendas_loja > meta_loja):
    bonus = .03 * vendas_funcionario
    print("Bônus do funcionário foi de {}".format(bonus))
else:
    print("Funcionário não ganhou bônus")

Bônus do funcionário foi de 450.0

In [2]:
vendas_funcionario1 = 1000
vendas_funcionario2 = 770
vendas_funcionario3 = 2700

vendas = 1000

if vendas_funcionario1 >= 1000:
    print("O funcionário 1 ganhou {} de bônus".format(vendas_funcionario1 * .1))
else:
    print("O funcionário 1 ganhou 0 de bônus")
if vendas_funcionario2 >= 1000:
    print("O funcionário 2 ganhou {} de bônus".format(vendas_funcionario2 * .1))
else:
    print("O funcionário 1 ganhou 0 de bônus")

O funcionário 1 ganhou 100.0 de bônus

In [3]:
produto = input("Qual o produto?")
categoria = input("Qual a categoria do produto?")
qtde = int(input("Qual a quantidade atual do produto?"))

if produto and categoria and qtde:
    if categoria == "bebidas":
        if qtde < 75:
            print("Solicitar {} à equipe de compras, temos apenas {} unidades em estoque".format(produto,qtde))
    elif categoria == "limpeza":
        if qtde < 30:
            print("Solicitar {} à equipe de compras, temos apenas {} unidades em estoque".format(produto,qtde))
    else:
        if qtde < 50:
            print("Solicitar {} à equipe de compras, temos apenas {} unidades em estoque".format(produto,qtde))
else:
    print("Preencha todas as informações")

Solicitar dolly à equipe de compras, temos apenas 50 unidades em estoque

In [7]:
faturamento = 2000
custo = 500
lucro = faturamento - custo

In [8]:
print("O faturamento da loja foi de: " + str(faturamento))

O faturamento da loja foi de: 2000

In [9]:
print("O faturamento foi de {}. O custo foi de {} e o Lucro foi de {}".format(faturamento,custo,lucro))

O faturamento foi de 2000. O custo foi de 500 e o Lucro foi de 1500

In [13]:
cpf = input("Digite seu CPF")

# tratar o CPF

# remover espaços no início e ao final;
cpf = cpf.strip()
# remover os pontos (.)
cpf = cpf.replace('.','')
# remover os traços (-)
cpf = cpf.replace('-','')

if len(cpf) == 11 and cpf.isnumeric():
    print(cpf)
else:
    print("Digite o CPF corretamente")

06077422169

In [14]:
print("Faturamento foi de {}".format(1000))

Faturamento foi de 1000

In [15]:
email = "lira@gmail.com"
print("Meu e-mail não é {:<30},show?".format(email))

Meu e-mail não é lira@gmail.com                ,show?

In [17]:
custo = 500
faturamento = 270
lucro = faturamento - custo
print("Faturamento foi {:+} e lucro foi {:+}".format(faturamento,lucro))

Faturamento foi +270 e lucro foi -230

In [18]:
custo = 5000
faturamento = 2700
lucro = faturamento - custo
print("Faturamento foi {:+,} e lucro foi {:+,}".format(faturamento,lucro))

Faturamento foi +2,700 e lucro foi -2,300

In [20]:
custo = 500
faturamento = 270
lucro = faturamento - custo
print("Faturamento foi {:.3f} e lucro foi {:.2f}".format(faturamento,lucro))

Faturamento foi 270.000 e lucro foi -230.00

In [22]:
custo = 500
faturamento = 1300
lucro = faturamento - custo
margem = lucro / faturamento
print("Margem de lucro foi de {:.1%}".format(margem))

Margem de lucro foi de 61.5%

In [24]:
custo = 5000
faturamento = 27000
lucro = faturamento - custo
print("Faturamento foi R${:,.2f} e lucro foi R${:,.2f}".format(faturamento,lucro))

lucro_texto = "R${:_.2f}".format(lucro)
print(lucro_texto.replace('.',',').replace('_','.'))

Faturamento foi R$27,000.00 e lucro foi R$22,000.00
R$22.000,00

In [25]:
imposto = .15758
preco = 100
valor_imposto = round(preco * imposto,1)
print("Imposto sobre o preço é de {}".format(valor_imposto))

Imposto sobre o preço é de 15.8

In [36]:
nome = input("Digite seu nome")
email = input("Digite seu email")

if nome and email:
    pos_a = email.find("@")
    servidor = email[pos_a:]
    if pos_a != -1 and '.' in servidor :
        print("Cadastro concluído!")
    else:
        print("E-mail inválido!")
else:
    print("Digite seu nome e e-mail corretamente")

Cadastro concluído!

In [39]:
precos = "Jan: 25, Fev: 27, Mar: 29"

preco_jan = precos[5:7]
print(preco_jan)

25

In [40]:
produtos = ["tv","celular","mouse","teclado","tablet"]
print(produtos)

['tv', 'celular', 'mouse', 'teclado', 'tablet']

In [41]:
vendas = [1000,1500,350,270,900]