In [1]:
lista_1 = ["arroz, frango, tomate, leite"]

In [2]:
type(lista_1)

list

In [3]:
lista_1
print(lista_1)

['arroz, frango, tomate, leite']

In [4]:
lista_2 = ["arroz","frango","tomate","leite"]

In [5]:
type(lista_2)

list

In [6]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [7]:
lista_3 = [23,100,"Cientista de Dados"]

In [8]:
type(lista_3)

list

In [9]:
lista_3

[23, 100, 'Cientista de Dados']

In [10]:
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [11]:
print(lista_3)

[23, 100, 'Cientista de Dados']

In [12]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [13]:
lista_2[2]

'tomate'

In [14]:
lista_2[2] = 'chocolate'

In [15]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [16]:
del lista_2[3]

In [17]:
lista_2

['arroz', 'frango', 'chocolate']

In [18]:
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [19]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [20]:
a = listas[0]

In [21]:
a

[1, 2, 3]

In [22]:
b = a[0]

In [23]:
b

1

In [24]:
list1 = listas[1]

In [25]:
list1

[10, 15, 14]

In [26]:
valor_1_0 = list1[0]

In [27]:
valor_1_0

10

In [28]:
valor_1_2 = list1[2]

In [29]:
valor_1_2

14

In [30]:
list2 = listas[2]

In [31]:
list2

[10.1, 8.7, 2.3]

In [32]:
valor_2_0 = list2[0]

In [33]:
valor_2_0

10.1

In [34]:
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [35]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [36]:
a = listas[0][0]

In [37]:
a

1

In [38]:
b = listas[1][2]

In [39]:
b

14

In [40]:
c = listas[0][2] + 10

In [41]:
c

13

In [42]:
d = 10

In [43]:
d

10

In [44]:
e = d * listas[2][0]

In [45]:
e

101.0

In [46]:
lista_s1 = [34,32,56]

In [47]:
lista_s1

[34, 32, 56]

In [48]:
lista_s2 = [21,90,51]

In [49]:
lista_s2

[21, 90, 51]

In [50]:
lista_total = lista_s1 + lista_s2

In [51]:
lista_total

[34, 32, 56, 21, 90, 51]

In [52]:
lista_teste_op = [100,2,-5,3.4]

In [53]:
10 in lista_teste_op

False

In [54]:
100 in lista_teste_op

True

In [55]:
lista_numeros = [10,20,50,-3.4]

In [56]:
len(lista_numeros)

4

In [57]:
max(lista_numeros)

50

In [58]:
min(lista_numeros)

-3.4

In [59]:
lista_formacoes_dsa = ["Analista de Dados","Cientista de Dados","Engenheiro de Dados"]

In [60]:
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [61]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [62]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [63]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [64]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [65]:
lista_formacoes_dsa.count("Engenheiro de IA")

2

In [66]:
a = []

In [67]:
a

[]

In [68]:
type(a)

list

In [69]:
a.append(10)

In [70]:
a

[10]

In [71]:
a.append(50)

In [72]:
a

[10, 50]

In [73]:
old_list = [1,2,5,10]

In [74]:
new_list = []

In [75]:
for item in old_list:
    new_list.append(item)

In [76]:
new_list

[1, 2, 5, 10]

In [77]:
cidades = ["Recife","Manaus","Salvador"]
cidades.extend(["Fortaleza","Palmas"])

In [78]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [79]:
cidades.index("Salvador")

2

In [80]:
cidades.index("Rio de Janeiro")

ValueError: 'Rio de Janeiro' is not in list

In [ ]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [ ]:
cidades.insert(2,110)

In [ ]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [ ]:
cidades.remove(110)

In [ ]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [ ]:
cidades.reverse()

In [ ]:
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [ ]:
x = [3,4,2,1]

In [ ]:
x.sort()

In [ ]:
x

[1, 2, 3, 4]

In [ ]:
estudantes_lst = ["Pedro",24,"Ana",22,"Ronaldo",26,"Janaina",25]

In [ ]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [ ]:
type(estudantes_lst)

list

In [ ]:
estudantes_dict = {"Pedro":24,"Ana":22,"Ronaldo":26,"Janaina":25}

In [ ]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [ ]:
estudantes_dict["Pedro"]

24

In [ ]:
type(estudantes_dict)

dict

In [ ]:
estudantes_dict["Marcelo"] = 23

In [ ]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [ ]:
estudantes_dict.clear()

In [ ]:
estudantes_dict

{}

In [ ]:
del estudantes_dict

In [ ]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [ ]:
estudantes = {"Pedro":24,"Ana":22,"Ronaldo":26,"Janaina":25}

In [ ]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [ ]:
len(estudantes)

4

In [ ]:
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [ ]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [ ]:
estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [ ]:
estudantes2 = {"Camila":27,"Adriana":28,"Roberta":26}

In [ ]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [ ]:
estudantes.update(estudantes2)

In [ ]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [ ]:
dic1 = {}

In [ ]:
dic1

{}

In [ ]:
dic1["chave_um"] = 2

In [ ]:
print(dic1)

{'chave_um': 2}

In [ ]:
dic1[10] = 5

In [ ]:
dic1

{'chave_um': 2, 10: 5}

In [ ]:
dic1[9.13] = "Python"

In [ ]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [ ]:
dic1["teste"] = 5

In [ ]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [ ]:
dict1 = {}

In [ ]:
dict1

{}

In [ ]:
dict1["teste"] = 10

In [ ]:
dict1["key"] = "teste"

In [ ]:
dict1

{'teste': 10, 'key': 'teste'}

In [ ]:
dict2={}

In [ ]:
dict2["key1"] = "Data Science"

In [ ]:
dict2["key2"] = 10

In [ ]:
dict2["key3"] = 100

In [ ]:
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [ ]:
a  = dict2["key1"]

In [ ]:
b = dict2["key2"]

In [ ]:
c = dict2["key3"]

In [ ]:
a,b,c

('Data Science', 10, 100)

In [ ]:
dict3 = {'chave1':1230,'chave2':[22,453,73.4],'chave3':['picanha','fraldinha','alcatra']}

In [ ]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [ ]:
dict3['chave2']

[22, 453, 73.4]

In [ ]:
dict3['chave3'][0].upper()

'PICANHA'

In [ ]:
var1 = dict3['chave2'][0] - 2

In [ ]:
var1

20

In [ ]:
dict3['chave2'][0] -=2

In [ ]:
dict3

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [ ]:
print("oi")

oi

In [ ]:
faturamento = 1000
custo = 400

lucro = faturamento - custo

# com format
print("O faturamento foi de {} e o lucro foi de {}".format(faturamento,lucro))

# com f-string
print(f"O faturamento foi de {faturamento} e o lucro foi de {lucro}")

O faturamento foi de 1000 e o lucro foi de 600
O faturamento foi de 1000 e o lucro foi de 600

In [ ]:
faturamento = float(input("Insira o faturamento"))
custo = float(input("Insira o custo"))

print(type(faturamento))
print(type(custo))

lucro = faturamento - custo

print(f"O lucro foi de {lucro} reais")

<class 'float'>
<class 'float'>
O lucro foi de 599.95 reais

In [ ]:
meta = 50000
qtd_vendida = 30000

if qtd_vendida >= meta:
    print("Batemos a meta de vendas de Iphone, vendemos {} unidades". format(qtd_vendida))
print("Fim do programa")

Fim do programa

In [ ]:
meta = 50000
qtde_vendida = 65300

if qtde_vendida >= meta:
    print("Batemos a meta de vendas; {} unidades".format(qtde_vendida))
else:
    print("A meta não foi batida. Vendemos {} unidades.".format(qtde_vendida))

Batemos a meta de vendas; 65300 unidades

if condicao:

elif condicao_2:

else:

#end

In [ ]:
meta = 20000
vendas = 15000

if vendas < meta:
    print("Não ganhou bônus")
elif vendas > (meta * 2):
    bonus = 0.07 * vendas
    print("Ganhou {} de bônus".format(bonus))
else:
    bonus = 0.03 * vendas
    print("Ganhou {} de bônus".format(bonus))

Não ganhou bônus

In [ ]:
faturamento_loja1 = 2500
faturamento_loja2 = 2200
email = "liragmail.com"

print("Programa 1")
if faturamento_loja1 == faturamento_loja2:
    print("Os faturamentos são iguais")
else:
    print("Os faturamentos são diferentes")

Programa 1
Os faturamentos são diferentes

In [ ]:
print("Programa2")
if email != "lira@gmail.com":
    print("Esse não é o email do Lira")
else:
    print("Email errado")

Programa2
Esse não é o email do Lira

In [ ]:
print("Programa 3")
email_usuario = input("Insira seu e-mail:")
if not "@" in email_usuario:
    print("Email Inválido")
else:
    pass

Programa 3
Email Inválido

In [ ]:
meta_funcionario = 10000
meta_loja = 250000
vendas_funcionario = 15000 # trocar valores
vendas_loja = 280000 # trocar valores

if vendas_funcionario > meta_funcionario and vendas_loja > meta_loja:
    bonus = 0.03 * vendas_funcionario
    print("Bônus do funcionário foi de {}".format(bonus))
else:
    print("Funcionário não ganhou bônus")

Bônus do funcionário foi de 450.0

In [ ]:
nota_funcionario = 5
meta_nota = 9

if nota_funcionario >= meta_nota or (vendas_funcionario > meta_funcionario and vendas_loja > meta_loja):
    bonus = .03 * vendas_funcionario
    print("Bônus do funcionário foi de {}".format(bonus))
else:
    print("Funcionário não ganhou bônus")

Bônus do funcionário foi de 450.0

In [ ]:
vendas_funcionario1 = 1000
vendas_funcionario2 = 770
vendas_funcionario3 = 2700

vendas = 1000

if vendas_funcionario1 >= 1000:
    print("O funcionário 1 ganhou {} de bônus".format(vendas_funcionario1 * .1))
else:
    print("O funcionário 1 ganhou 0 de bônus")
if vendas_funcionario2 >= 1000:
    print("O funcionário 2 ganhou {} de bônus".format(vendas_funcionario2 * .1))
else:
    print("O funcionário 1 ganhou 0 de bônus")

O funcionário 1 ganhou 100.0 de bônus

In [ ]:
produto = input("Qual o produto?")
categoria = input("Qual a categoria do produto?")
qtde = int(input("Qual a quantidade atual do produto?"))

if produto and categoria and qtde:
    if categoria == "bebidas":
        if qtde < 75:
            print("Solicitar {} à equipe de compras, temos apenas {} unidades em estoque".format(produto,qtde))
    elif categoria == "limpeza":
        if qtde < 30:
            print("Solicitar {} à equipe de compras, temos apenas {} unidades em estoque".format(produto,qtde))
    else:
        if qtde < 50:
            print("Solicitar {} à equipe de compras, temos apenas {} unidades em estoque".format(produto,qtde))
else:
    print("Preencha todas as informações")

Solicitar dolly à equipe de compras, temos apenas 50 unidades em estoque

In [ ]:
faturamento = 2000
custo = 500
lucro = faturamento - custo

In [ ]:
print("O faturamento da loja foi de: " + str(faturamento))

O faturamento da loja foi de: 2000

In [ ]:
print("O faturamento foi de {}. O custo foi de {} e o Lucro foi de {}".format(faturamento,custo,lucro))

O faturamento foi de 2000. O custo foi de 500 e o Lucro foi de 1500

In [ ]:
cpf = input("Digite seu CPF")

# tratar o CPF

# remover espaços no início e ao final;
cpf = cpf.strip()
# remover os pontos (.)
cpf = cpf.replace('.','')
# remover os traços (-)
cpf = cpf.replace('-','')

if len(cpf) == 11 and cpf.isnumeric():
    print(cpf)
else:
    print("Digite o CPF corretamente")

06077422169

In [ ]:
print("Faturamento foi de {}".format(1000))

Faturamento foi de 1000

In [ ]:
email = "lira@gmail.com"
print("Meu e-mail não é {:<30},show?".format(email))

Meu e-mail não é lira@gmail.com                ,show?

In [ ]:
custo = 500
faturamento = 270
lucro = faturamento - custo
print("Faturamento foi {:+} e lucro foi {:+}".format(faturamento,lucro))

Faturamento foi +270 e lucro foi -230

In [ ]:
custo = 5000
faturamento = 2700
lucro = faturamento - custo
print("Faturamento foi {:+,} e lucro foi {:+,}".format(faturamento,lucro))

Faturamento foi +2,700 e lucro foi -2,300

In [ ]:
custo = 500
faturamento = 270
lucro = faturamento - custo
print("Faturamento foi {:.3f} e lucro foi {:.2f}".format(faturamento,lucro))

Faturamento foi 270.000 e lucro foi -230.00

In [ ]:
custo = 500
faturamento = 1300
lucro = faturamento - custo
margem = lucro / faturamento
print("Margem de lucro foi de {:.1%}".format(margem))

Margem de lucro foi de 61.5%

In [ ]:
custo = 5000
faturamento = 27000
lucro = faturamento - custo
print("Faturamento foi R${:,.2f} e lucro foi R${:,.2f}".format(faturamento,lucro))

lucro_texto = "R${:_.2f}".format(lucro)
print(lucro_texto.replace('.',',').replace('_','.'))

Faturamento foi R$27,000.00 e lucro foi R$22,000.00
R$22.000,00

In [ ]:
imposto = .15758
preco = 100
valor_imposto = round(preco * imposto,1)
print("Imposto sobre o preço é de {}".format(valor_imposto))

Imposto sobre o preço é de 15.8

In [ ]:
nome = input("Digite seu nome")
email = input("Digite seu email")

if nome and email:
    pos_a = email.find("@")
    servidor = email[pos_a:]
    if pos_a != -1 and '.' in servidor :
        print("Cadastro concluído!")
    else:
        print("E-mail inválido!")
else:
    print("Digite seu nome e e-mail corretamente")

Cadastro concluído!

In [ ]:
precos = "Jan: 25, Fev: 27, Mar: 29"

preco_jan = precos[5:7]
print(preco_jan)

25

In [ ]:
produtos = ["tv","celular","mouse","teclado","tablet"]
print(produtos)

['tv', 'celular', 'mouse', 'teclado', 'tablet']

In [ ]:
vendas = [1000,1500,350,270,900]

In [ ]:
produtos = ["apple tv","mac","iphone x","IPad","apple watch","mac book","air pods"]

In [ ]:
tamanho = len(produtos)
print("Temos {} produtos".format(tamanho))

Temos 7 produtos

In [ ]:
vendas = [1000,1500,15000,270,900,100,1200]

In [ ]:
mais_vendido = max(vendas)
menos_vendido = min(vendas)

In [ ]:
print("O produto mais vendido teve {} unidades vendidas e o menos vendido teve {} unidades vendidas".format(mais_vendido,menos_vendido))

O produto mais vendido teve 15000 unidades vendidas e o menos vendido teve 100 unidades vendidas

In [ ]:
i = vendas.index(mais_vendido)
j = vendas.index(menos_vendido)

produto_mais_vendido = produtos[i]
produto_menos_vendido = produtos[j]


print(produto_mais_vendido)
print(produto_menos_vendido)

iphone x
mac book

In [ ]:
novos_produtos = ["iphone 12","ioculos"]

produtos.extend(novos_produtos)

In [ ]:
print(produtos)

['apple tv', 'mac', 'iphone x', 'IPad', 'apple watch', 'mac book', 'air pods', 'iphone 12', 'ioculos']

In [ ]:
todos_produtos = produtos + novos_produtos
print(todos_produtos)

['apple tv', 'mac', 'iphone x', 'IPad', 'apple watch', 'mac book', 'air pods', 'iphone 12', 'ioculos', 'iphone 12', 'ioculos']

In [ ]:
vendas = [1000,1500,15000,20000,270,900,100,1200]
vendas_iphonex = [15000]
vendas_iphone11 = [20000]

total_iphone = vendas[2] + vendas[3]
total_iphone_listas = vendas_iphonex[0] + vendas_iphone11[0]
print(total_iphone)
print(total_iphone_listas)

35000
35000

In [ ]:
produtos.sort()
print(produtos)

['IPad', 'air pods', 'apple tv', 'apple watch', 'ioculos', 'iphone 12', 'iphone x', 'mac', 'mac book']

In [ ]:
vendas.sort(reverse=True)
print(vendas)

[20000, 15000, 1500, 1200, 1000, 900, 270, 100]

In [ ]:
print("\n".join(produtos))

IPad
air pods
apple tv
apple watch
ioculos
iphone 12
iphone x
mac
mac book

In [ ]:
produtos = "apple tv, mac, iphone x, iphone 11, Ipad, apple watch, mac book, airpods"
lista = produtos.split(", ")

print(lista)

['apple tv', 'mac', 'iphone x', 'iphone 11', 'Ipad', 'apple watch', 'mac book', 'airpods']

In [ ]:
meses = ['jan','fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez']
vendas_1sem = [25000,29000,22200,17750,15870,19900]
vendas_2sem = [19850,20120,17540,15555,49051,9650]

vendas_1sem.extend(vendas_2sem)
maior_valor = max(vendas_1sem)
menor_valor = min(vendas_1sem)
print(maior_valor)
print(menor_valor)
print(vendas_1sem)

49051
9650
[25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 49051, 9650]

In [ ]:
i_maior_valor = vendas_1sem.index(maior_valor)
i_menor_valor = vendas_1sem.index(menor_valor)

print("O melhor mês do ano foi {} com {} vendas".format(meses[i_maior_valor],maior_valor))
print("O pior mês do ano foi {} com {} vendas".format(meses[i_menor_valor],menor_valor))

O melhor mês do ano foi nov com 49051 vendas
O pior mês do ano foi dez com 9650 vendas

In [ ]:
fat_total = sum(vendas_1sem)
print("Faturamento Total: R${:,}".format(fat_total))

Faturamento Total: R$261,486

In [ ]:
percentual = maior_valor / fat_total
print("O melhor mês representou {:.2%} das vendas do ano todo".format(percentual))

O melhor mês representou 18.76% das vendas do ano todo

In [ ]:
vendas_1sem = [25000,29000,22200,17750,15870,19900]
vendas_2sem = [19850,20120,17540,15555,49051,9650]

vendas_1sem.extend(vendas_2sem)

top3 = []
print(vendas_1sem)
maior_valor = max(vendas_1sem)

top3.append(maior_valor)
print(top3)

vendas_1sem.remove(maior_valor)
print(vendas_1sem)

maior_valor = max(vendas_1sem)
top3.append(maior_valor)
print(top3)

vendas_1sem.remove(maior_valor)
print(vendas_1sem)

maior_valor = max(vendas_1sem)
top3.append(maior_valor)
print(top3)

[25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 49051, 9650]
[49051]
[25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 9650]
[49051, 29000]
[25000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 9650]
[49051, 29000, 25000]

In [ ]:
lista = ['ipad','iphone x', 'apple tv']
lista2 = lista

lista[1] = 'iphone 11'

print(lista2)

['ipad', 'iphone 11', 'apple tv']

In [ ]:
lista = ['ipad','iphone x','apple tv']
lista2 = lista.copy()
lista3 = lista[:]

lista[1] = 'iphone 11'

print(lista)
print(lista2)
print(lista3)

['ipad', 'iphone 11', 'apple tv']
['ipad', 'iphone x', 'apple tv']
['ipad', 'iphone x', 'apple tv']

In [ ]:
vendedores = ["lira","João","Diego","Alon"]
produtos = ["Ipad","Iphone"]
vendas = [
    [100,200],
    [300,500],
    [50,1000],
    [900,10]
]

vendas_ipad_joao = vendas[1][0]
print(vendas_ipad_joao)

vendas_iphone = vendas[0][1] + vendas[1][1] + vendas[2][1] + vendas[3][1]
print(vendas_iphone)

300
1710

In [ ]:
vendas_mac = [10,15,6,70]

vendas[0].append(vendas_mac[0])
vendas[1].append(vendas_mac[1])
vendas[2].append(vendas_mac[2])
vendas[3].append(vendas_mac[3])

print(vendas)

[[100, 200, 10, 10], [300, 500, 15], [50, 1000, 6], [900, 10, 70]]

In [ ]:
produtos = ["computador","livro","tablet","celular","tv","ar condicionado","alexa","máquina de café","kindle"]

produtos_ecommerce = [
    [10000,2500],
    [50000,40],
    [7000,1200],
    [20000,1500],
    [5800,1300],
    [7200,2500],
    [200,800],
    [3300,700],
    [1900,400]
]

qtde = 50000
preco = 44
total = qtde * preco
print("{:,}".format(total))

if 'livro' in produtos:
    i_livro = produtos.index("livro")
    total_antigo = produtos_ecommerce[i_livro][0] * produtos_ecommerce[i_livro][1]
    produtos_ecommerce[i_livro][1] = produtos_ecommerce[i_livro][1] * 1.1
    novo_total = produtos_ecommerce[i_livro][0] * produtos_ecommerce[i_livro][1]
    print("Vamos pagar de imposto a mais: R${:,}".format(novo_total - total_antigo))

2,200,000
Vamos pagar de imposto a mais: R$200,000.0

In [ ]:
produtos = ["coca","pepsi","guarana","sprite","fanta"]
producao = [15000,12000,13000,5000,250]

for i in range(len(producao)):
    print("{} unidades produzidas de {}".format(producao[i],produtos[i]))

15000 unidades produzidas de coca
12000 unidades produzidas de pepsi
13000 unidades produzidas de guarana
5000 unidades produzidas de sprite
250 unidades produzidas de fanta

In [ ]:
for item in produtos:
    print(item)

coca
pepsi
guarana
sprite
fanta

In [ ]:
texto = "lira@gmail.com"
for ch in texto:
    print(ch)

l
i
r
a
@
g
m
a
i
l
.
c
o
m

In [ ]:
vendas = [1200,300,800,1500,1900,2750,400,20,23,70,90,80,1100,999,900,880,870,50,1111,120,300,450,800]
meta = 1000
i = 0
j = 0

for venda in vendas:
    i = i + 1
    if venda >= meta:
        print(venda)
        j = j + 1
print("{:.2%}".format(j/i))

1200
1500
1900
2750
1100
1111
26.09%

In [ ]:
produtos = ["iphone","ipad","airpod","macbook"]
precos = [7000,10000,2500,14000]

In [ ]:
for preco in precos:
    print(preco * 1.1)

7700.000000000001
11000.0
2750.0
15400.000000000002

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(len(precos)):
    produto = produtos[i]
    preco = precos[i]
    print(produto,preco)

iphone 7000
ipad 10000
airpod 2500
macbook 14000

In [ ]:
for i, preco in enumerate(precos):
    produto = produtos[i]
    print(produto,preco)

iphone 7000
ipad 10000
airpod 2500
macbook 14000

In [ ]:
qtde_pessoas = int(input("Quantas pessoas terão no quarto?"))
print(qtde_pessoas)
quarto = []

for i in range(qtde_pessoas):
    nome = input("Qual o nome?")
    cpf = input("Qual o cpf?")
    hospede = [nome,"cpf:{}".format(cpf)]
    quarto.append(hospede)
print(quarto)

1
[['sad', 'cpf:dsdas']]

In [ ]:
meta = 10000
vendas = [
    ["João",15000],
    ["Julia",27000],
    ["Marcus",9900],
    ["Maria",3750],
    ["Ana",10300],
    ["Alon",7870]
    ]
for item in vendas:
    if item[1] >= meta:
        print("Vendedor {} bateu a meta. Fez {} vendas.".format(item[0],item[1]))

Vendedor João bateu a meta. Fez 15000 vendas.
Vendedor Julia bateu a meta. Fez 27000 vendas.
Vendedor Ana bateu a meta. Fez 10300 vendas.

In [ ]:
produtos = ['iphone', 'galaxy', 'ipad', 'tv', 'máquina de café', 'kindle', 'geladeira', 'adega', 'notebook dell', 'notebook hp', 'notebook asus', 'microsoft surface', 'webcam', 'caixa de som', 'microfone', 'câmera canon']
vendas2019 = [558147,712350,573823,405252,718654,531580,973139,892292,422760,154753,887061,438508,237467,489705,328311,591120]
vendas2020 = [951642,244295,26964,787604,867660,78830,710331,646016,694913,539704,324831,667179,295633,725316,644622,994303]

for i,produto in enumerate(produtos):
    if vendas2020[i] > vendas2019[i]:
        crescimento = vendas2020[i]/vendas2019[i] -1
        print("{} vendeu R${:,} em 2019,R${:,} em 2020 e teve {:.1%} de crescimento".format(produto,vendas2019[i],vendas2020[i],crescimento))

iphone vendeu R$558,147 em 2019,R$951,642 em 2020 e teve 70.5% de crescimento
tv vendeu R$405,252 em 2019,R$787,604 em 2020 e teve 94.3% de crescimento
máquina de café vendeu R$718,654 em 2019,R$867,660 em 2020 e teve 20.7% de crescimento
notebook dell vendeu R$422,760 em 2019,R$694,913 em 2020 e teve 64.4% de crescimento
notebook hp vendeu R$154,753 em 2019,R$539,704 em 2020 e teve 248.8% de crescimento
microsoft surface vendeu R$438,508 em 2019,R$667,179 em 2020 e teve 52.1% de crescimento
webcam vendeu R$237,467 em 2019,R$295,633 em 2020 e teve 24.5% de crescimento
caixa de som vendeu R$489,705 em 2019,R$725,316 em 2020 e teve 48.1% de crescimento
microfone vendeu R$328,311 em 2019,R$644,622 em 2020 e teve 96.3% de crescimento
câmera canon vendeu R$591,120 em 2019,R$994,303 em 2020 e teve 68.2% de crescimento

for item in lista:
    for item2 in lista2:

In [83]:
estoque = [
    [294, 125, 269, 208, 783, 852, 259, 371, 47, 102, 386, 87, 685, 686, 697, 941, 163, 631, 7, 714, 218, 670, 453],
    [648, 816, 310, 555, 992, 643, 226, 319, 501, 23, 239, 42, 372, 441, 126, 645, 927, 911, 761, 445, 974, 2, 549],
    [832, 683, 784, 449, 977, 705, 198, 937, 729, 327, 339, 10, 975, 310, 95, 689, 137, 795, 211, 538, 933, 751, 522],
    [837, 168, 570, 397, 53, 297, 966, 714, 72, 737, 259, 629, 625, 469, 922, 305, 782, 243, 841, 848, 372, 621, 362],
    [429, 242, 53, 985, 406, 186, 198, 50, 501, 870, 781, 632, 781, 105, 644, 509, 401, 88, 961, 765, 422, 340, 654],
]
fabricas = ['Lira Manufacturing', 'Fábrica Hashtag', 'Python Manufaturas', 'Produções e Cia', 'Manufatura e Cia']
nivel_minimo = 50

for lista in estoque:
    # se dentro daquela lista tem alguém abaixo do nível mínimo
    for qtde in lista:
        if qtde < nivel_minimo:
            print(qtde)

47
7
23
42
2
10

In [84]:
for i, lista in enumerate(estoque):
    for qtde in lista:
        if qtde < nivel_minimo:
            print(fabricas[i])

Lira Manufacturing
Lira Manufacturing
Fábrica Hashtag
Fábrica Hashtag
Fábrica Hashtag
Python Manufaturas

In [87]:
fabricas_abaixo_nivel = []

for i, lista in enumerate(estoque):
    # se dentro daquela lista em alguem abaixo do nivel minimo
    for qtde in lista:
        if qtde < nivel_minimo:
            if fabricas[i] in fabricas_abaixo_nivel:
                pass
            else:
                fabricas_abaixo_nivel.append(fabricas[i])
print(fabricas_abaixo_nivel)

['Lira Manufacturing', 'Fábrica Hashtag', 'Python Manufaturas']

In [95]:
meta = 10000
vendas = [
    ["João",15000],
    ["Julia",27000],
    ["Marcus",9900],
    ["Maria",3750],
    ["Ana",10300],
    ["Alon",7870]
]

acima_meta = []

for venda in vendas:
    if venda[1] >= meta:
        acima_meta.append(venda)

print(acima_meta)
print("{:.0%} dos vendedores bateram a meta".format(len(acima_meta)/len(vendas)))

[['João', 15000], ['Julia', 27000], ['Ana', 10300]]
50% dos vendedores bateram a meta

In [96]:
# cálculo diretamente na lista
qtde_vendedores_acima = 0

for venda in vendas:
    if venda[1] >= meta:
        qtde_vendedores_acima += 1
print("{:.0%} dos vendedores bateram a meta".format(qtde_vendedores_acima/len(vendas)))

50% dos vendedores bateram a meta

In [98]:
melhor_vendedor = ''
maior_vendas = 0

for venda in vendas:
    if venda[1] > maior_vendas:
        maior_vendas = venda[1]
        melhor_vendedor = venda[0]
print(maior_vendas,melhor_vendedor)

27000 Julia

In [100]:
vendas = [100,150,1500,2000,120]
meta = 110

for venda in vendas:
    if venda < meta:
        print("A loja não ganha bônus")
        break
    print(venda)

A loja não ganha bônus

In [102]:
vendedores = ["João","Julia","Ana","José","Maria"]
meta = 130

for venda in vendas:
    if venda < meta:
        continue
    print(venda)

150
1500
2000

In [13]:
venda = input("Registre um produto. Para cancelar o registro de um novo produto, basta apertar enter com a caixa vazia")
vendas = []

while venda != '':
    vendas.append(venda)
    venda = input("Registre um produto. Para cancelar o registro de um novo produto, basta apertar enter com a caixa vazia")


print("Registro finalizado. As vendas cadastradas foram: {}".format(vendas))

Registro finalizado. As vendas cadastradas foram: ['a', 'sd', 's', 'f', 'df', 'sd', 'a', 'd', 'd', 'fd', 'afsdf']

In [16]:
vendas = [941, 852, 783, 714, 697, 686, 685, 670, 631, 453, 386, 371, 294, 269, 259, 218, 208, 163, 125, 102, 87, 47, 7]
vendedores = ['Maria', 'José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo', 'Adriana', 'Sandra', 'Luis']
meta = 50

i = 0 

while vendas[i] > meta:
    if vendas[i] > 0:
        print("{} bateu a meta. Vendas: {}".format(vendedores[i],vendas[i]))
    i += 1

Maria bateu a meta. Vendas: 941
José bateu a meta. Vendas: 852
Antônio bateu a meta. Vendas: 783
João bateu a meta. Vendas: 714
Francisco bateu a meta. Vendas: 697
Ana bateu a meta. Vendas: 686
Luiz bateu a meta. Vendas: 685
Paulo bateu a meta. Vendas: 670
Carlos bateu a meta. Vendas: 631
Manoel bateu a meta. Vendas: 453
Pedro bateu a meta. Vendas: 386
Francisca bateu a meta. Vendas: 371
Marcos bateu a meta. Vendas: 294
Raimundo bateu a meta. Vendas: 269
Sebastião bateu a meta. Vendas: 259
Antônia bateu a meta. Vendas: 218
Marcelo bateu a meta. Vendas: 208
Jorge bateu a meta. Vendas: 163
Márcia bateu a meta. Vendas: 125
Geraldo bateu a meta. Vendas: 102
Adriana bateu a meta. Vendas: 87

In [3]:
 vendas = []

while True:
    produto = input("Qual o produto?")
    if not produto:
       break
    qtde = int(input("Qual a quantidade?"))
    vendas.append([produto,qtde])
    print(vendas)

print(vendas)

[['h', 3]]
[['h', 3], ['g', 5]]
[['h', 3], ['g', 5], ['df', 6]]
[['h', 3], ['g', 5], ['df', 6]]

In [8]:
# Tuplas

vendas = ("Lira","25/08/2020","15/02/1994",2000,"Estagiário")

print(vendas)

('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')

In [9]:
nome = vendas[0]
data_contratacao = vendas[1]
data_nascimento = vendas[2]
salario = vendas[3]
cargo = vendas[4]

In [ ]:
nome, data_contratacao, data_nascimento, salario, cargo = vendas

print(salario)

In [17]:
vendas = [1000,2000,300,300,150]
funcionarios = ["João","Lira","Ana","Maria","Paula"]

for item in enumerate(vendas):
    print(item)

(0, 1000)
(1, 2000)
(2, 300)
(3, 300)
(4, 150)

In [19]:
vendas = [
    ('20/08/2020', 'iphone x', 'azul', '128gb', 350, 4000),
    ('20/08/2020', 'iphone x', 'prata', '128gb', 1500, 4000),
    ('20/08/2020', 'ipad', 'prata', '256gb', 127, 6000),
    ('20/08/2020', 'ipad', 'prata', '128gb', 981, 5000),
    ('21/08/2020', 'iphone x', 'azul', '128gb', 397, 4000),
    ('21/08/2020', 'iphone x', 'prata', '128gb', 1017, 4000),
    ('21/08/2020', 'ipad', 'prata', '256gb', 50, 6000),
    ('21/08/2020', 'ipad', 'prata', '128gb', 4000, 5000),

In [22]:
data,produto,cor,capacidade,unidades,valor_unitario = vendas[0]
faturamento = unidades * valor_unitario
print(faturamento)

1400000

In [26]:
for item in vendas:
    print(item)

('20/08/2020', 'iphone x', 'azul', '128gb', 350, 4000)
('20/08/2020', 'iphone x', 'prata', '128gb', 1500, 4000)
('20/08/2020', 'ipad', 'prata', '256gb', 127, 6000)
('20/08/2020', 'ipad', 'prata', '128gb', 981, 5000)
('21/08/2020', 'iphone x', 'azul', '128gb', 397, 4000)
('21/08/2020', 'iphone x', 'prata', '128gb', 1017, 4000)
('21/08/2020', 'ipad', 'prata', '256gb', 50, 6000)
('21/08/2020', 'ipad', 'prata', '128gb', 4000, 5000)

In [36]:
faturamento = 0
for data, produto, cor, capacidade, unidades,valor_unitario in vendas:
    if produto == 'iphone x' and data == '20/08/2020': # ALTERNATIVA: if 'iphone' in produto:
        faturamento += unidades * valor_unitario
print("O faturamento de Iphone no dia 20/08/2020 foi de {}".format(faturamento))

O faturamento de Iphone no dia 20/08/2020 foi de 7400000

In [46]:
produto_mais_vendido = ''
qtde_produto_mais_vendido = 0
cor_produto_mais_vendido = ''
capacidade_produto_mais_vendido = ''
for data, produto, cor, capacidade, unidades,valor_unitario in vendas:
    if data == '21/08/2020':
        if unidades > qtde_produto_mais_vendido:
            produto_mais_vendido = produto
            qtde_produto_mais_vendido = unidades
            cor_produto_mais_vendido = cor
            capacidade_produto_mais_vendido = capacidade

print("Meu produto mais vendido no dia 21/08/2020 foi o {} com {} unidades. Cor: {}, capacidade:{}"
      .format(produto_mais_vendido,
              qtde_produto_mais_vendido,
              cor_produto_mais_vendido,
              capacidade_produto_mais_vendido))

Meu produto mais vendido no dia 21/08/2020 foi o ipad com 4000 unidades. Cor: prata, capacidade:128gb

In [48]:
meta = 10000
vendas = [
    ("João",15000),
    ("Julia",27000),
    ("Marcus",9900),
    ("Maria",3750),
    ("Ana",10300),
    ("Alon",7870)
]

for vendedor, qtde in vendas:
    if qtde >= meta:
        print("{} bateu a meta; vendeu {} unidades.".format(vendedor,qtde))

João bateu a meta; vendeu 15000 unidades.
Julia bateu a meta; vendeu 27000 unidades.
Ana bateu a meta; vendeu 10300 unidades.

In [52]:
vendas_produtos = [
    ('iphone', 558147, 951642),
      ('galaxy', 712350, 244295),
        ('ipad', 573823, 26964),
          ('tv', 405252, 787604),
            ('máquina de café', 718654, 867660),
              ('kindle', 531580, 78830),
                ('geladeira', 973139, 710331),
                  ('adega', 892292, 646016),
                    ('notebook dell', 422760, 694913),
                      ('notebook hp', 154753, 539704),
                        ('notebook asus', 887061, 324831),
                          ('microsoft surface', 438508, 667179),
                            ('webcam', 237467, 295633),
                              ('caixa de som', 489705, 725316),
                                ('microfone', 328311, 644622),
                                  ('câmera canon', 591120, 994303)
                                  ]

for produto,venda19,venda20 in vendas_produtos:
    if venda20 > venda19:
        crescimento = venda20/venda19 - 1
        print("{} teve {} vendas em 2019, {} vendas em 2020. Crescimento de {:.1%}"
              .format(produto,venda19,venda20,crescimento))

iphone teve 558147 vendas em 2019, 951642 vendas em 2020. Crescimento de 70.5%
tv teve 405252 vendas em 2019, 787604 vendas em 2020. Crescimento de 94.3%
máquina de café teve 718654 vendas em 2019, 867660 vendas em 2020. Crescimento de 20.7%
notebook dell teve 422760 vendas em 2019, 694913 vendas em 2020. Crescimento de 64.4%
notebook hp teve 154753 vendas em 2019, 539704 vendas em 2020. Crescimento de 248.8%
microsoft surface teve 438508 vendas em 2019, 667179 vendas em 2020. Crescimento de 52.1%
webcam teve 237467 vendas em 2019, 295633 vendas em 2020. Crescimento de 24.5%
caixa de som teve 489705 vendas em 2019, 725316 vendas em 2020. Crescimento de 48.1%
microfone teve 328311 vendas em 2019, 644622 vendas em 2020. Crescimento de 96.3%
câmera canon teve 591120 vendas em 2019, 994303 vendas em 2020. Crescimento de 68.2%

In [53]:
mais_vendidos = {'tecnologia': 'iphone', 'refrigeracao': 'ar consul 12000 btu', 'livros': 'o alquimista', 'eletrodoméstico': 'geladeira', 'lazer': 'prancha surf'}

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

In [57]:
qtde_iphone = vendas_tecnologia['iphone']

livro = mais_vendidos["livros"]
lazer = mais_vendidos["lazer"]
print(livro,lazer)

qtde_noteasus = vendas_tecnologia["notebook asus"]
qtde_ipad = vendas_tecnologia["ipad"]
print(qtde_noteasus,qtde_ipad)

o alquimista prancha surf
2450 1000

In [62]:
print(mais_vendidos['livros'])

print(mais_vendidos["lazer"])

print(vendas_tecnologia.get('notebook asus'))

print(vendas_tecnologia.get("ipad"))

o alquimista
prancha surf
2450
1000

In [63]:
print(vendas_tecnologia.get("ipads"))

None

In [64]:
print(vendas_tecnologia["ipads"])

KeyError: 'ipads'

In [65]:
if 'copo' in vendas_tecnologia:
    print(vendas_tecnologia["copo"])
else:
    print("Copo não está dentro da lista de produtos de tecnologia")

Copo não está dentro da lista de produtos de tecnologia

In [66]:
if vendas_tecnologia.get("copo") == None:
    print("Copo não está dentro da lista de produtos de tecnologia")
else:
    print(vendas_tecnologia.get("copo"))

Copo não está dentro da lista de produtos de tecnologia

dicionario = {}
dicionario[chave] = valor 

ou:

dicionario.update({chave:valor,chave:valor})

In [76]:
lucro_1tri = {"janeiro":100000,"fevereiro":120000,"março":90000}
lucro_2tri = {"abril":88000,"maio":89000,"junho":120000}

print(lucro_1tri)
lucro_1tri.update({"abril":88000,"maio":89000,"junho":120000})
print(lucro_1tri)

lucro_1tri['janeiro'] = 88000
print(lucro_1tri)

{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}
{'janeiro': 88000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}

In [71]:
del lucro_1tri['junho']
print(lucro_1tri)

{'janeiro': 88000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000}

In [77]:
lucro_junho = lucro_1tri.pop('junho')
print(lucro_1tri)
print(lucro_junho)

{'janeiro': 88000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000}
120000

In [79]:
lucro_1tri.clear()
print(lucro_1tri)

funcionarios = ["João","Lira"]
del funcionarios[0]
print(funcionarios)

{}
['Lira']

In [83]:
vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

for chave in vendas_tecnologia:
    print(chave)

for chave in vendas_tecnologia:
    print(chave,vendas_tecnologia[chave])

for chave in vendas_tecnologia:
    print("{}: {} unidades".format(chave,vendas_tecnologia[chave]))

iphone
samsung galaxy
tv samsung
ps5
tablet
ipad
tv philco
notebook hp
notebook dell
notebook asus
iphone 15000
samsung galaxy 12000
tv samsung 10000
ps5 14300
tablet 1720
ipad 1000
tv philco 2500
notebook hp 1000
notebook dell 17000
notebook asus 2450
iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
tablet: 1720 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook hp: 1000 unidades
notebook dell: 17000 unidades
notebook asus: 2450 unidades

In [85]:
total_notebooks = 0
for chave in vendas_tecnologia:
    if 'notebook' in chave:
        total_notebooks += vendas_tecnologia[chave]
print(total_notebooks)

20450

In [89]:
niveis_co2 = {
    'AC': [325,405,429,486,402],
    'AL': [492,495,310,407,388],
    'AP': [507,503,368,338,400],
    'AM': [429,456,352,377,363],
    'BA': [321,508,372,490,412],
    'CE': [424,328,425,516,480],
    'ES': [449,506,461,337,336],
    'GO': [425,460,385,485,460],
    'MA': [361,310,344,425,490],
    'MT': [358,402,425,386,379],
    'MS': [324,357,441,405,427],
    'MG': [345,367,391,427,516],
    'PA': [479,514,392,493,329],
    'PB': [418,499,317,302,476],
    'PR': [420,508,419,396,327],
    'PE': [404,444,495,320,343],
    'PI': [513,513,304,377,475],
    'RJ': [502,481,492,502,506],
    'RN': [446,437,519,356,317],
    'RS': [427,518,459,317,321],
    'RO': [517,466,512,326,458],
    'RR': [466,495,469,495,310],
    'SC': [495,436,382,483,479],
    'SP': [495,407,362,389,317],
    'SE': [508,351,334,389,418],
    'TO': [339,490,304,488,419],
    'DF': [376,516,320,310,518], 
}

for estado in niveis_co2:
    qtde_sensores = len(niveis_co2[estado])
    total_co2 = sum(niveis_co2[estado])
    media_co2 = total_co2 / qtde_sensores
    if media_co2 > 450:
        print("{} está com nívels altíssimos de CO2 ({}), chamar equipe especializada para verificar a região"
        .format(estado,media_co2))

RJ está com nívels altíssimos de CO2 (496.6), chamar equipe especializada para verificar a região
RO está com nívels altíssimos de CO2 (455.8), chamar equipe especializada para verificar a região
SC está com nívels altíssimos de CO2 (455.0), chamar equipe especializada para verificar a região

In [90]:
video = {'uri': '/videos/465407533', 'name': '15 Atalhos no Excel para Ficar Mais Produtivo', 'download': [{'quality': 'source', 'type': 'source', 'width': 1920, 'height': 1080, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064518513?s=465407533_1602043255_5f2f93dd00b66eba66d481f913383b4f&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivosource.mp4', 'created_time': '2020-10-06T14:26:17+00:00', 'fps': 30, 'size': 402678442, 'md5': 'af09508ceceed4994554f04e8b931e22', 'public_name': 'Original', 'size_short': '384.02MB'}, {'quality': 'hd', 'type': 'video/mp4', 'width': 1920, 'height': 1080, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064523157?s=465407533_1602043255_ab7b8353c59b5048032396ec5d95a276&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo175.mp4', 'created_time': '2020-10-06T14:29:06+00:00', 'fps': 30, 'size': 173556205, 'md5': '3c05e1e69bd6b13eb1464451033907d2', 'public_name': 'HD 1080p', 'size_short': '165.52MB'}, {'quality': 'sd', 'type': 'video/mp4', 'width': 960, 'height': 540, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064523153?s=465407533_1602043255_f5ac38009ec5c0a13b30600c631446a3&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo165.mp4', 'created_time': '2020-10-06T14:29:06+00:00', 'fps': 30, 'size': 89881848, 'md5': '4a5c5c96cdf18202ed20ca534fd88007', 'public_name': 'SD 540p', 'size_short': '85.72MB'}, {'quality': 'sd', 'type': 'video/mp4', 'width': 426, 'height': 240, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064522788?s=465407533_1602043255_16c69872e2c4e92cc949d0b772242959&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo139.mp4', 'created_time': '2020-10-06T14:28:31+00:00', 'fps': 30, 'size': 27401450, 'md5': '91cc0229087ec94bf67f64b01ad8768d', 'public_name': 'SD 240p', 'size_short': '26.13MB'}, {'quality': 'sd', 'type': 'video/mp4', 'width': 640, 'height': 360, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064522787?s=465407533_1602043255_310b087e2fc8c5e1154ce7a33d10d60e&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo164.mp4', 'created_time': '2020-10-06T14:28:31+00:00', 'fps': 30, 'size': 48627155, 'md5': '548640bf79ce1552a3401726bb0e4224', 'public_name': 'SD 360p', 'size_short': '46.37MB'}]}
print(video)

{'uri': '/videos/465407533', 'name': '15 Atalhos no Excel para Ficar Mais Produtivo', 'download': [{'quality': 'source', 'type': 'source', 'width': 1920, 'height': 1080, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064518513?s=465407533_1602043255_5f2f93dd00b66eba66d481f913383b4f&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivosource.mp4', 'created_time': '2020-10-06T14:26:17+00:00', 'fps': 30, 'size': 402678442, 'md5': 'af09508ceceed4994554f04e8b931e22', 'public_name': 'Original', 'size_short': '384.02MB'}, {'quality': 'hd', 'type': 'video/mp4', 'width': 1920, 'height': 1080, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064523157?s=465407533_1602043255_ab7b8353c59b5048032396ec5d95a276&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo175.mp4', 'created_time': '2020-10-06T14:29:06+00:00', 'fps': 30, 'size': 173556205, 'md5': '3c05e1e69bd6b13eb1464451033907d2', 'public_name': 'HD 1080p', 'size_short': '165.52MB'}, {'quality': 'sd', 'type': 'video/mp4', 'width': 960, 'height': 540, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064523153?s=465407533_1602043255_f5ac38009ec5c0a13b30600c631446a3&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo165.mp4', 'created_time': '2020-10-06T14:29:06+00:00', 'fps': 30, 'size': 89881848, 'md5': '4a5c5c96cdf18202ed20ca534fd88007', 'public_name': 'SD 540p', 'size_short': '85.72MB'}, {'quality': 'sd', 'type': 'video/mp4', 'width': 426, 'height': 240, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064522788?s=465407533_1602043255_16c69872e2c4e92cc949d0b772242959&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo139.mp4', 'created_time': '2020-10-06T14:28:31+00:00', 'fps': 30, 'size': 27401450, 'md5': '91cc0229087ec94bf67f64b01ad8768d', 'public_name': 'SD 240p', 'size_short': '26.13MB'}, {'quality': 'sd', 'type': 'video/mp4', 'width': 640, 'height': 360, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064522787?s=465407533_1602043255_310b087e2fc8c5e1154ce7a33d10d60e&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo164.mp4', 'created_time': '2020-10-06T14:28:31+00:00', 'fps': 30, 'size': 48627155, 'md5': '548640bf79ce1552a3401726bb0e4224', 'public_name': 'SD 360p', 'size_short': '46.37MB'}]}

In [91]:
for item in video:
    print(item)

uri
name
download

In [92]:
print(video["download"])

[{'quality': 'source', 'type': 'source', 'width': 1920, 'height': 1080, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064518513?s=465407533_1602043255_5f2f93dd00b66eba66d481f913383b4f&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivosource.mp4', 'created_time': '2020-10-06T14:26:17+00:00', 'fps': 30, 'size': 402678442, 'md5': 'af09508ceceed4994554f04e8b931e22', 'public_name': 'Original', 'size_short': '384.02MB'}, {'quality': 'hd', 'type': 'video/mp4', 'width': 1920, 'height': 1080, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064523157?s=465407533_1602043255_ab7b8353c59b5048032396ec5d95a276&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo175.mp4', 'created_time': '2020-10-06T14:29:06+00:00', 'fps': 30, 'size': 173556205, 'md5': '3c05e1e69bd6b13eb1464451033907d2', 'public_name': 'HD 1080p', 'size_short': '165.52MB'}, {'quality': 'sd', 'type': 'video/mp4', 'width': 960, 'height': 540, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064523153?s=465407533_1602043255_f5ac38009ec5c0a13b30600c631446a3&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo165.mp4', 'created_time': '2020-10-06T14:29:06+00:00', 'fps': 30, 'size': 89881848, 'md5': '4a5c5c96cdf18202ed20ca534fd88007', 'public_name': 'SD 540p', 'size_short': '85.72MB'}, {'quality': 'sd', 'type': 'video/mp4', 'width': 426, 'height': 240, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064522788?s=465407533_1602043255_16c69872e2c4e92cc949d0b772242959&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo139.mp4', 'created_time': '2020-10-06T14:28:31+00:00', 'fps': 30, 'size': 27401450, 'md5': '91cc0229087ec94bf67f64b01ad8768d', 'public_name': 'SD 240p', 'size_short': '26.13MB'}, {'quality': 'sd', 'type': 'video/mp4', 'width': 640, 'height': 360, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064522787?s=465407533_1602043255_310b087e2fc8c5e1154ce7a33d10d60e&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo164.mp4', 'created_time': '2020-10-06T14:28:31+00:00', 'fps': 30, 'size': 48627155, 'md5': '548640bf79ce1552a3401726bb0e4224', 'public_name': 'SD 360p', 'size_short': '46.37MB'}]

In [93]:
print(video["download"][0])

{'quality': 'source', 'type': 'source', 'width': 1920, 'height': 1080, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064518513?s=465407533_1602043255_5f2f93dd00b66eba66d481f913383b4f&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivosource.mp4', 'created_time': '2020-10-06T14:26:17+00:00', 'fps': 30, 'size': 402678442, 'md5': 'af09508ceceed4994554f04e8b931e22', 'public_name': 'Original', 'size_short': '384.02MB'}

In [94]:
print(video["download"][0]["link"])

https://player.vimeo.com/play/2064518513?s=465407533_1602043255_5f2f93dd00b66eba66d481f913383b4f&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivosource.mp4

In [7]:
vendas_tecnologia = {"notebook asus":2450,"iphone":15000,"samsung galaxy":12000,"tv samsung":10000,"ps5":14300}
itens_dicionario = vendas_tecnologia.items()
print(itens_dicionario)

for item, qtde in vendas_tecnologia.items():
    print("{}: {} unidades".format(item,qtde))

dict_items([('notebook asus', 2450), ('iphone', 15000), ('samsung galaxy', 12000), ('tv samsung', 10000), ('ps5', 14300)])
notebook asus: 2450 unidades
iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades

In [9]:
for chave in vendas_tecnologia:
    if vendas_tecnologia[chave] > 5000:
        print("{}: {} unidades".format(chave,vendas_tecnologia[chave]))

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades

In [10]:
for produto, qtde in vendas_tecnologia.items():
    if qtde > 5000:
        print("{}: {} unidades".format(produto,qtde))

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades

In [12]:
chaves = vendas_tecnologia.keys()
valores = vendas_tecnologia.values()
print(chaves)
print(valores)

dict_keys(['notebook asus', 'iphone', 'samsung galaxy', 'tv samsung', 'ps5'])
dict_values([2450, 15000, 12000, 10000, 14300])

In [13]:
vendas_tecnologia['liraphone'] = 10

In [14]:
print(chaves)
print(valores)

dict_keys(['notebook asus', 'iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'liraphone'])
dict_values([2450, 15000, 12000, 10000, 14300, 10])

In [17]:
print(list(chaves))
print(list(valores))

['notebook asus', 'iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'liraphone']
[2450, 15000, 12000, 10000, 14300, 10]

In [ ]:
for chave in vendas_tecnologia:
    print("{}: {} unidades".format())

In [19]:
lista_chaves = list(chaves)
lista_chaves.sort

for chave in lista_chaves:
    print("{}: {} unidades".format(chave,vendas_tecnologia[chave]))

notebook asus: 2450 unidades
iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
liraphone: 10 unidades

In [23]:
produtos = ['iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus']
vendas = [15000, 12000, 10000, 14300, 1720, 1000, 2500, 1000, 17000, 2450]

In [22]:
dicionario = dict.fromkeys(produtos,0)
print(dicionario)

{'iphone': 0, 'samsung galaxy': 0, 'tv samsung': 0, 'ps5': 0, 'tablet': 0, 'ipad': 0, 'tv philco': 0, 'notebook hp': 0, 'notebook dell': 0, 'notebook asus': 0}

In [24]:
lista_tuplas = zip(produtos,vendas)

In [25]:
print(lista_tuplas)

<zip object at 0x00000236FAE2E4C0>

In [26]:
for item in lista_tuplas:
    print(item)

('iphone', 15000)
('samsung galaxy', 12000)
('tv samsung', 10000)
('ps5', 14300)
('tablet', 1720)
('ipad', 1000)
('tv philco', 2500)
('notebook hp', 1000)
('notebook dell', 17000)
('notebook asus', 2450)

In [29]:
lista_tuplas = zip(produtos,vendas)
dicionario_vendas = dict(lista_tuplas)
print(dicionario_vendas)

{'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

In [31]:
indice = produtos.index("ipad")
print("Vendemos {} ipads".format(vendas[indice]))

print("Vendemos {} ipads".format(dicionario_vendas["ipad"]))

Vendemos 1000 ipads
Vendemos 1000 ipads

In [32]:
produtos = ['iphone', 'galaxy', 'ipad', 'tv', 'máquina de café', 'kindle', 'geladeira', 'adega', 'notebook dell', 'notebook hp', 'notebook asus', 'microsoft surface', 'webcam', 'caixa de som', 'microfone', 'câmera canon']
vendas2019 = [558147,712350,573823,405252,718654,531580,973139,892292,422760,154753,887061,438508,237467,489705,328311,591120]
vendas2020 = [951642,244295,26964,787604,867660,78830,710331,646016,694913,539704,324831,667179,295633,725316,644622,994303]

In [33]:
vendas = zip(vendas2019,vendas2020)
print(vendas)

<zip object at 0x00000236FADB5A80>

In [34]:
print(list(vendas))

[(558147, 951642), (712350, 244295), (573823, 26964), (405252, 787604), (718654, 867660), (531580, 78830), (973139, 710331), (892292, 646016), (422760, 694913), (154753, 539704), (887061, 324831), (438508, 667179), (237467, 295633), (489705, 725316), (328311, 644622), (591120, 994303)]

In [39]:
vendas = list(zip(vendas2019,vendas2020))
vendas_produtos = dict(zip(produtos,vendas))

In [40]:
print(vendas_produtos)

{'iphone': (558147, 951642), 'galaxy': (712350, 244295), 'ipad': (573823, 26964), 'tv': (405252, 787604), 'máquina de café': (718654, 867660), 'kindle': (531580, 78830), 'geladeira': (973139, 710331), 'adega': (892292, 646016), 'notebook dell': (422760, 694913), 'notebook hp': (154753, 539704), 'notebook asus': (887061, 324831), 'microsoft surface': (438508, 667179), 'webcam': (237467, 295633), 'caixa de som': (489705, 725316), 'microfone': (328311, 644622), 'câmera canon': (591120, 994303)}

In [41]:
produtos = ["arroz","feijão","macarrao","atum","azeite"]
estoque = [50,100,20,5,80]

for i in range(5):
    print("{}: {} unidades".format(produtos[i],estoque[i]))

arroz: 50 unidades
feijão: 100 unidades
macarrao: 20 unidades
atum: 5 unidades
azeite: 80 unidades

In [42]:
print(range(1,10))

for i in range(2,10):
    print(i)

range(1, 10)
2
3
4
5
6
7
8
9

In [45]:
set_produtos = {"arroz","feijão","macarrao","atum","azeite"}
print(set_produtos)

{'macarrao', 'feijão', 'arroz', 'azeite', 'atum'}

In [ ]:
def nome():
    a
    a
    return(a)